<%- include ("partials/header")%>

<div class="dash_head">
    <p class="dash_p">Welcome</p>
</div>

<div class="box">
<div class="btn">
<button class="dash_button1 dash_btn">
    <a href="/users/register/admin">REGISTER AS ADMIN</a>
</button>
</div>

<div class="btn">
<button class="dash_button2 dash_btn">
<a href="/users/register/normal-user">REGISTER</a>
</button>
</div>


<div class="btn">
<button class="dash_button3 dash_btn">
<a href="/users/login">LOGIN</a>
</button>
</div>
</div>